<div class="p-blog-main">
    <h1 class="p-blog-title">
        {{postSet.post_title}}
    </h1>
    <div class="p-blog-tagBar">
        分类标签：
        {{#each postSet.post_tags}}
            <a  href="/blog/tag/{{post_tagname}}" class="blog-tagbag">{{post_tagname}}</a>
        {{/each}}
    </div>
    <p class="p-blog-time" style="margin: 0">
        {{postSet.post_time}}<br/>
        作者：徐家麒
    </p>
    <div class="p-blog-content">
        {{{postSet.post_content}}}
    </div>
</div>
